includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - app
        - database
        - routes
        - tests
    ignoreErrors:
        -
            message: '#Static call to instance method Plank\\Mediable\\Facades\\ImageManipulator::defineVariant\(\)#'
            path: app/Providers/AppServiceProvider.php
